<div class="non-home-page-div">
  <h1 class="non-home-page-title">All Applications</h1>

  <% @applications.each do |application| %>
    <ul class="non-homepage-text">
      <li><%= link_to application.description, application %></li>
    </ul>
  <% end %>
</div>
