<div class="home-section-one">
  <div class="col-md-12">
    <h1 class="home-title">Get the right staff now</h1>

    <button class="button-one home-page-button">Sign up Now</button>

  </div>
</div>

<div class="home-section-two row">
  <div class="col-md-3">
    <h1>500+</h1>
    <p>Businesses in Australia</p>
  </div>
  <div class="col-md-3">
    <h1>1# Recruiter</h1>
    <p>In the Southern Tablelands</p>
  </div>
  <div class="col-md-3">
    <h1>10 000+</h1>
    <p>Candidates in Australia</p>
  </div>
  <div class="col-md-3">
    <h1>98%</h1>
    <p>Businesses Recommended</p>
  </div>
</div>

<div class="home-selection-three row">
  <div class="row">
    <div class="col-md-12">
      <h1 class="home-selection-three-title">Recruitment Selection &amp; Labour Hire</h1>
    </div>
  </div>
  <div class="col-md-6">
    <p class="home-text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut lbore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
  <div class="col-md-6"></div>
</div>

<div class="home-selection-four row">
  <div class="row">
    <div class="col-md-12">
      <h1 class="home-selection-three-title">Payroll, Workers Comp &amp; Sick Leave Management</h1>
    </div>
  </div>
  <div class="col-md-6">

  </div>
  <div class="col-md-6">
    <p class="home-text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
</div>

<div class="home-selection-five row">
  <div class="row">
    <div class="col-md-12">
      <h1 class="home-selection-three-title">Permantent Workforce &amp; OHS Provision</h1>
    </div>
  </div>
  <div class="col-md-6">
    <p class="home-text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
  <div class="col-md-6"></div>
</div>

<div class="home-selection-six row">
  <div class="col-md-12">
    <h1 class="home-section-six-title">SPEED ACCURACY RESULTS </h1>
  </div>
</div>
