<div class="non-home-page-div">

  <h1 class="non-home-page-title">Candidates</h1>

      <% @candidates.each do |candidate| %>
        <ul>
          <li><%= link_to candidate.last_name, candidate, :class => "non-homepage-text" %>, <%= link_to candidate.first_name, candidate, :class => "non-homepage-text"  %></li>
        </ul>
      <% end %>
</div>
