/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
  min-height: 100vh;
}

footer {
  bottom: 0;
}

.center {
  min-height: 82vh;
  text-align: center;
}

ul {
  list-style-type: none;
}

.non-home-page-title {
  font-family: Adelle;
  font-weight: 900;
  font-size: 6em;
  position: relative;
  text-align: center;
  color: #000000;
}

.non-homepage-text {
  text-decoration: none;
  color: #F34C1C;
  font-size: 2.5em;
  text-align: right;
  font-weight: 400;
  text-align: center;
}

.button-one {
  padding: 20px 50px;
  font-size: 50px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #F34C1C;
  border: none;
  border-radius: 5px;
  box-shadow: 0 9px #B44705;
  position: relative;
}

.button-one:hover {
  background-color: #3e8e41;
  text-decoration: none;
  color: #FFFFFF;
}

.button-one:hover {
  background-color: #F34C1C;
  box-shadow: 0 5px #B44705;
  transform: translateY(4px);
}

.home-page-button {
  top: 40vh;
}

.non-home-page-button {
  top: 10vh;
}

.non-home-page-div {
  background-color: #EAEAEA;
  height: 85vh;
  background-image: url(http://caohung.xyz/Images/city.png);
  background-size: 30%;
  background-repeat: repeat-x;
  background-position: bottom right;
}

.form {
  text-align: left;
}
